body{
		
}

.principal {
	background: #FFF0F5
}

}

h1{
	height: 50px;
	border: 2px solid #000000;
	text-align: center;
	padding-top: 10px;
	margin-left: 40px;
	margin: 20px;

}

p{
	text-align: center;

}

#missao {
	font-size: 20px
}


em strong{
	color: #4B0082;
}



.itens {
	font-style: italic;
}

.beneficios {
	background: #00FA9A;
	width: 100%
}

h2 {
	text-align: center;
}

ul {
	display: inline-block;
	vertical-align: top;
	display: inherit;
}

#ff{
	width: 30%;
	
	border: 2px solid #000000;
}